@import 'normalize.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}


.h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

@mixin panel {
  background-color: #fffefb;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  color: #3f3f3f;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  color: #3f3f3f;
}

body {
  background-color: #f6f5f3;
}
.wrapper_outer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #f6f5f3;
}
.wrapper_inner {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}


.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &_select {
    @include panel;
    cursor: pointer;
    padding: 10px 16px;
    background-color: #fffefb;
    margin-bottom: 8px;
    select {
      border: none;
      background-color: #fffefb;
      &:focus {
        outline: none;
      }
    }
    &_main {
      cursor: pointer;
      font-size: 12px;
      color: #b4b4b4;
    }
  }
}

.title {
  padding-top: 32px;
  &_wrapper {
      
      margin-bottom: 24px;
  }
}

.content {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  max-width: 332px;
  min-width: 332px;
  width: 100%;
  margin-right: 8px;
  @include panel;
  &_wrapper {
    width: 100%;
    padding: 24px;
  }
  &_item {
    display: flex;
    flex-direction: column;
    position: relative;
    & + & { margin-top: 16px; }
    &_title {
      color: #49485e;
      font-size: 10px;
      font-weight: 400;
      margin-bottom: 4px
    }
    &_text {
      @include panel;
      font-size: 12px;
      font-weight: 400;
      padding: 10px 16px;
      line-height: 15px;
      color: #3f3f3f;
      &::placeholder {
        color: #b4b4b4;
      }
    }
    &_textarea {
      @include panel;
      padding: 10px 16px;
      min-height: 108px;
      resize: none;
      font-size: 12px;
      font-weight: 400;
      color: #3f3f3f;
      &::placeholder {
        color: #b4b4b4;
      }
    }
    &_error {
      position: absolute;
      bottom: -12px;
      left: 0;
      z-index: 1;
      transition: all .1s ease-in-out;
      margin-top: 0px;
      font-size: 0px;
      font-weight: 400;
      color: #ff8484;
    }
  }
  &_btn {
    width: 100%;
    padding: 10px 0px;
    font-size: 12px;
    font-weight: 600;
    color: #b4b4b4;
    background-color: #eeeeee;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-top: 24px;
    font-family: 'Inter', sans-serif;
    &:hover {
      color: #49485e;
      background-color: #e0dddd;
    }
  }
}



.sidebar_item.error .sidebar_item_error {
  font-size: 8px;
  margin-top: 4px;
  display: inline;
}

.sidebar_item.error .sidebar_item_text {
  border: 1px solid #ff8484;
}


.sidebar_btn.clear {
  background-color: #7bae73;
  color: #ffffff;
}

.sidebar_item_title--point {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ff8484;
  }
}

.content.fixed .sidebar {
  position: fixed;
  top: 25px;
}

.content.fixed .cards {
  margin-left: 340px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
  margin-right: -8px
}

.card {
  position: relative;
  @include panel;
  max-width: 332px;
  display: flex;
  flex-direction: column;
  margin: 8px;
  cursor: pointer;
  &_picture {
    width: 100%;
    max-height: 200px;
    aspect-ratio: 332 / 200;
  }
  &_content {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    &_title {
      margin-top: 16px;
      margin-bottom: 21px;
    }
    &_text {
      font-size: 16px;
      color: #3f3f3f;
      margin-bottom: 32px;
    }
    &_price {
      font-size: 24px;
      font-weight: 600;
      color: #3f3f3f;
    }
  }
  &:hover .card_delete{
    display: flex;
  }
  &_delete {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 32px;
    height: 32px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ff8484;
    transition: all .2s;
  }
}

.rub {
  margin-left: 6px;
}

@media (max-width: 1439px) {
  .wrapper_inner {
    padding-left: 16px;
    padding-right: 16px;
  }
  .card {
    max-width: 320px;
  }
}

@media (max-width: 1390px) {
  .cards {
    justify-content: center;
  }
  .wrapper_inner {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (max-width: 1080px) {
  .card {
    max-width: 166px;
    &_content {
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 16px;
      &_title {
        margin-top: 8px;
        margin-bottom: 10px;
      }
      &_text {
        font-size: 12px;
        margin-bottom: 18px;
      }
      &_price {
        font-size: 14px;
      }
    }
  }

  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 12px;
  }
}

@media (max-width: 590px) {
  .sidebar {
    max-width: 250px;
    min-width: 250px;
    width: 100%;
  }
  .content {
    flex-direction: column;
  }

  .wrapper_inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  h3 {
    font-size: 18px;
  }

  .header_select {
    padding: 5px 8px;
  }

  .header_wrapper {
    margin-bottom: 10px;
  }

  .sidebar {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

